on post-fs

service vendor.vibrator-1-0 /system/bin/true
    disabled

service vendor.qti.vibrator /system/bin/true
    disabled

on post-fs-data
# FOD
    chown system system /sys/devices/platform/goodix_ts.0/fod_pressed
    chown system system /sys/devices/platform/goodix_ts.0/gesture/fp_wakeup
